<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{% block title %}CuteWeb{% endblock %}</title>
    <link rel="stylesheet" href="/cuteweb/static/styles/default.css">
    <link rel="icon" href="/cuteweb/static/favicon.ico">
    {% block head %}{% endblock %}
</head>

<body>
    {% block content %}{% endblock %}
</body>

</html>