{#
Macro tab_widget
----------------
Paramètres:
- widget_id : identifiant HTML unique du widget (ex: "left-tabs")
- tabs : liste de { "name": "Champs", "template": "fields" }
"template" est le nom du template inclus pour ce tab
- project_id : transmis aux templates enfants
#}
{% macro tab_widget(widget_id, tabs, project_id) %}
<div class="tab-widget" id="{{ widget_id }}">

    {# Barre des onglets #}
    <div class="tab-bar" role="tablist">
        {% for tab in tabs %}
        <button class="tab-btn{% if loop.first %} active{% endif %}" role="tab"
            data-target="{{ widget_id }}-panel-{{ loop.index }}"
            onclick="cuteweb.switchTab('{{ widget_id }}', {{ loop.index }})">
            {{ tab.name }}
        </button>
        {% endfor %}
    </div>

    {# Contenu des onglets #}
    {% for tab in tabs %}
    <div class="tab-panel{% if loop.first %} active{% endif %}" id="{{ widget_id }}-panel-{{ loop.index }}"
        role="tabpanel">
        {% include tab.template ~ "/" ~ tab.template ~ ".html.j2" %}
    </div>
    {% endfor %}

</div>
{% endmacro %}